@font-face {
	font-family: 'PF Din Display Pro Extra Thin';
	
	src: url('../font/pfdindisplaypro-Xthin-ttf/pfdindisplaypro-xthin.eot');
	
	src: url('../font/pfdindisplaypro-Xthin-ttf/pfdindisplaypro-xthin.eot?iefix') format('eot'),
	
	url('../font/pfdindisplaypro-Xthin-ttf/pfdindisplaypro-xthin.woff') format('woff'),
	
	url('../font/pfdindisplaypro-Xthin-ttf/pfdindisplaypro-xthin.ttf') format('truetype'),
	
	url('../font/pfdindisplaypro-Xthin-ttf/pfdindisplaypro-xthin.svg#webfont') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF Din Display Pro Thin';
	
	src: url('../font/pfdindisplaypro-thin-ttf/pfdindisplaypro-thin.eot');
	
	src: url('../font/pfdindisplaypro-thin-ttf/pfdindisplaypro-thin.eot?iefix') format('eot'),
	
	url('../font/pfdindisplaypro-thin-ttf/pfdindisplaypro-thin.woff') format('woff'),
	
	url('../font/pfdindisplaypro-thin-ttf/pfdindisplaypro-thin.ttf') format('truetype'),
	
	url('../font/pfdindisplaypro-thin-ttf/pfdindisplaypro-thin.svg#webfont') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF Din Display Bold';
	
	src: url('../font/pfdindisplaypro-bold-ttf/pfdindisplaypro-bold.eot');
	
	src: url('../font/pfdindisplaypro-bold-ttf/pfdindisplaypro-bold.eot?iefix') format('eot'),
	
	url('../font/pfdindisplaypro-bold-ttf/pfdindisplaypro-bold.woff') format('woff'),
	
	url('../font/pfdindisplaypro-bold-ttf/pfdindisplaypro-bold.ttf') format('truetype'),
	
	url('../font/pfdindisplaypro-bold-ttf/pfdindisplaypro-bold.svg#webfont') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF Din Display Pro Medium Regular';
	
	src: url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-medium-regular.eot');
	
	src: url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-medium-regular.eot?iefix') format('eot'),
	
	url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-medium-regular.woff') format('woff'),
	
	url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-medium-regular.ttf') format('truetype'),
	
	url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-medium-regular.svg#webfont') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF Din Display Pro Regular';
	
	src: url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-regular.eot');
	
	src: url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-regular.eot?iefix') format('eot'),
	
	url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-regular.woff') format('woff'),
	
	url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-regular.ttf') format('truetype'),
	
	url('../font/pf-dindisplay-pro-medium-regular/pf-dindisplay-pro-regular.svg#webfont') format('svg');
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PF Din Display Pro Black';
	
	src: url('../font/pf-din-display-pro-black-ttf/pf-din-display-pro-black.eot');
	
	src: url('../font/pf-din-display-pro-black-ttf/pf-din-display-pro-black.eot?iefix') format('eot'),
	
	url('../font/pf-din-display-pro-black-ttf/pf-din-display-pro-black.woff') format('woff'),
	
	url('../font/pf-din-display-pro-black-ttf/pf-din-display-pro-black.ttf') format('truetype'),
	
	url('../font/pf-din-display-pro-black-ttf/pf-din-display-pro-black.svg#webfont') format('svg');
	
	font-weight: normal;
	font-style: normal;
}


.flight_list {
}