 HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;} body {line-height: 1;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;} table { border-collapse: collapse; border-spacing: 0;}
/*/reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}
html {height: 100%;}
ol, ul, li {list-style: none;}
a, a:hover { transition: all .2s ease-in-out; text-decoration: none;}
body {
  position: relative;
  height: 100%;
  font-family: 'PF Din Display Pro', sans-serif;
  font-size: .68vmax;
  line-height: .84vmax;
  background: #fff;
  color: #555;
}

.wrap {
  position: relative;
  margin: 0 auto;
  width: 66.66vw;
}

.btn-right_top {
  position: absolute;
  top: -56vmax;
  right: -3.5vmax;
  font-size: .78vmax;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.30vmax;
  border: none;
  background-color: #555;
  border-radius: .05vmax;
  box-shadow: 0 25px 43px rgba(15, 17, 19, 0.16);
  transform: rotate(-90deg);
  cursor: pointer;
}

  .btn-right_top a {
    display: block;
    color: #fff;
  }

  .btn-right_top:hover, .btn-right_top a:hover {color: #555; background-color: #C4E5EC; transition: all .2s ease-in-out;}

  .popup {
    width: 30vmax;
    transform: translate(-50%, -50%);
    background-color: #C4E5EC;
    color: #555;
    padding: 3vmax;
    border-radius: .10vmax;
    opacity: .9;
    left: -200%;
    top: -25vmax;
    position: absolute;
  }

  .overlay {
    position: relative;
    width: 100%;
    /*background-color: rgba(0, 0, 0, .8);*/
    display: none;
}

  .close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
  }

  .close-popup:before {
    content: '';
    background-color: #555;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
  }

  .close-popup:after {
    content: '';
    background-color: #555;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
  }

  .btn_container_popup {
    margin-top: 2vmax;
    display: flex;
    justify-content: space-between;
  }

  .btn_popur_ok {
    cursor: pointer;
    border: 1px solid  #fff;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: inherit;
  }

  .btn_popur_cancel {
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: inherit;
  }

  .btn_popur_cancel:hover, .btn_popur_ok:hover {
    transition: all .2s ease-in-out;
    border-color: #555;
  }
  

/*container_top style*/
.container_top {
  /*height: 100vh;*/
  position: relative;
  background-image: url(../img/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  width: 100%;
}

  header {
    margin-top: 2.81vmax;
    padding-left: 14.3vmax;
   /* overflow: hidden;*/
  }

    .top_header {
      display: flex;
      justify-content: space-between;
      /*width: 46.6vmax;*/
      font-family: 'PF Din Display Bold', sans-serif;
      text-transform: uppercase;
      margin-top: 2.81vmax;
    }

    header a {
      display: block;
      color: #929292;
    }
   
    .bottom_header {
       overflow: hidden;
      /*position: relative;*/
      margin-top: 2.40vmax;
      font-family: 'PF Din Display Pro Regular', sans-serif;
      text-transform: uppercase;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .top_header a:hover, .bottom_header a:hover {color: #C4E5EC;}

    .bottom_header li {position: relative;}

      .bottom_header li::before {
        content: '';
        display: block;
        position: absolute;
        top: .1vmax;
        background-color: #d9d9d9;;;
        width: 0.1vmax;
        height: 1.30vmax;
        right: -3em;
      }

  .title {
    width: 49vmax;
    /*padding: 0 8.85vmax;*/
  }

    .title h1{
      padding: 0 ;
      margin-top: 5.72vmax;
      font-size: 5.41vmax;
      text-transform: uppercase;
      line-height: 3.75vmax;
      text-align: center;
      font-family: 'PF Din Display Pro Medium Regular', sans-serif;
    }

  .quote {
    position: relative;
    margin-top: 3.64vmax;
    width: 44.79vmax;
    padding-left: 4.6vmax;
    padding-right: 3.5vmax;
  }

    .text_quote {
      font-family: 'PF Din Display Pro Medium Regular', sans-serif;
      font-size: 1.04vmax;
      line-height: 1.5;
    }
    .text_quote:before {
      content: '';
      display: block;
      background-color: #555;
      width: 3.70vmax;
      height: .10vmax;
      position: absolute;
      top: .7vmax;
      left: 0;
    }

    .btn_quote {
      position: relative;
      text-align: right;
      text-transform: uppercase;
      font-family: 'PF Din Display Bold', sans-serif;
    }

      .btn_quote a {
        color: #A7D2DB;
        line-height: 1.71vmax;
        display: inline-block;
        text-decoration: underline;
      }
      .btn_quote a:after {
        display: block;
        content: ''; 
        position: absolute; 
        right: -1.2vmax;
        bottom: .5vmax; 
        border: .3vmax solid transparent; 
        border-left: .4vmax solid #A7D2DB; 
      }

  .article_container_text {
    margin-top: 2.91vmax;
    margin-bottom: 6.25vmax;
    padding: 0 4.7vmax;
  }

    .text {
      margin-top: 2.18vmax;
      font-size: 1.04vmax;
      line-height: 1.56vmax;
    }
    .text:first-child {margin-top: 0;}

/* // container_top style*/

/*services-block style*/
.services-block {
  background-color: #A7D2DB;
}

  .container_services {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 7.30vmax .5vmax 7.30vmax 2.86vmax;
  }

    .box_container {
      margin-right: 4vmax;
      position: relative;
    }
    .box_container:last-child {margin-right: 0;}

    .box_text_1 {width: 11.51vmax;}
    .box_text_2 {width: 9.82vmax;}
    .box_text_3 {width: 14.21vmax;}
    .box_text_4 {width: 14.27vmax;}

      .number {
        color: #fefefe;
        font-family: 'PF Din Display Pro Black',sans-serif ;
        font-size: 2.08vmax;
        transform: rotate(-90deg);

        position: absolute;
        top: 1vmax;
        left: -2.5vmax;
      }

      .hr_vertical { 
        width: .05vmax;
        height: 3.33vmax;
        background-color: #fefefe;
        position: absolute;
        bottom: .5vmax;
        left: -.8vmax;
      }

      .box_container p {
        font-family: 'PF Din Display Pro Thin', sans-serif;
        font-size: 1.09vmax;
        line-height: 1.87vmax;
      }

        .box_container p strong {
          font-family: 'PF Din Display Pro', sans-serif;
          text-transform: uppercase;
          font-weight: 700;
          font-size: .97vmax;
        }
/* // services-block style*/

/*conteiner_content style*/
.conteiner_content {
  background-image: url(../img/bg_content.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 100vh;*/
  position: relative;
  width: 100%;

}

  .title_content {
    padding-top: 4.32vmax;
    padding-bottom: 9.58vmax;
    text-align: center;
    text-transform: uppercase;
  }

    .title_content p {
      position: relative;
      font-family: 'PF Din Display Pro Extra Thin', sans-serif;
      font-size: 1.87vmax;
      line-height: 2.5vmax;
      letter-spacing: 1.12vmax;
      padding-bottom: 3.80vmax;
    }
    .title_content p:after {
      content: '';
      display: block;
      width: .05vmax;
      height: 1.56vmax;
      position: absolute;
      bottom: 1vmax;
      left: 33vmax;
      background-color: #555;
    }

    .title_content h3 {
      position: relative;
      font-family: "PF Din Display Pro",sans-serif;
      font-size: 3.33vmax;
      line-height: 3.75vmax;
    }
    .title_content h3:after {
      display: block;
      content: '';
      position: absolute;
      right: 32.5vmax;
      bottom: -2.55vmax;
      border: .9vmax solid transparent;
      border-top: 1.20vmax solid #A7D2DB;
    }

  .content {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  .content a:hover {color: #C4E5EC; text-decoration: underline; transition: all 0s ease-in-out}

    .content:after {
      content: '';
      display: block;
      width: 63.28vmax;
      height: .10vmax;
      background-color: #d7d7d7;
      position: absolute;
      top: 3vmax;
      left: 0vmax;
    }

    .info_list {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      font-size: 1.10vmax;
      line-height: 1.56vmax;
    }
    .info_list:last-child {text-transform: uppercase;}

      .info_list:after {
        content: '';
        display: block;
        width: .05vmax;
        height: 48.49vmax;
        background-color: #d7d7d7;
        position: absolute;
        bottom: -1vmax;
        right: -1.7vmax;
      }
      .info_list:last-child::after {background-color: transparent;}

      .info_list li {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2.4vmax;
        line-height: 2.5vmax;
      }

      .information {

      }

        .information button {
          border: none;
          background-color: transparent;
          text-transform: uppercase;
          font-size: 1.09vmax;
          color: #555;
          margin-bottom: 1.56vmax;
          line-height: 1.56vmax
        }

        .information button:hover {
          cursor: pointer;
          color: #a7d2db;
          text-decoration: underline;
        }

        .information a {
          display: block;
          color: #555;
          margin-bottom: 1.56vmax;
        }
        .information a:last-child{margin-bottom: 0}

    .info_1 {
      width: 14vmax;
      margin-left: 4.70vmax;
      margin-right: 3.64vmax;
    }
    .info_2 {
      width: 11.6vmax;
      margin-right: 4.16vmax;
    }
    .info_3 {
      width: 8.33vmax;
      margin-right: 5.20vmax;
    }
    .info_4 {
      width: 9.90vmax;
      margin-right: 4.68vmax;
    }

  .btn_content {
    padding-bottom: 6.14vmax;
    padding-top: 7vmax;
  }

   .btn_content button {
      background-color: red;
      border: none;
      border-radius: 2px;
      text-transform: uppercase;
      letter-spacing: .13vmax;
      background-color: #c4e5ec;
      padding: 1.04vmax 2.55vmax 1.09vmax 2.03vmax;
      border: .05vmax solid rgba(255, 255, 255, 0.85);
      display: block;
      margin: 0 auto;
      font-weight: 700;
      position: relative;
      cursor: pointer;
      transition: all .3s ease-in-out;
    }

    .btn_content button:hover {
      border-color: #000;
      color: #C4E5EC;
      background-color: #555;
    }

    .btn_content button:after {
        display: block;
        content: ''; 
        position: absolute; 
        right: 1vmax;
        bottom: 1.2vmax; 
        border: .3vmax solid transparent; 
        border-left: .4vmax solid #555; 
      }

/* // conteiner_content style*/

/*footer styles*/
footer {
  position: relative;
  height: 36.75vmax;
  background-color: #1c1c1c;
}

  footer a img{
    display: block;
    position: absolute;
    bottom: 0vmax;
    right: 0vmax;
  }

  .footer_title {
    text-align: center;
    padding-top: 3.5vmax;
    padding-bottom: 6.25vmax;
  }

    .footer_title p {
      color: #464646;
      letter-spacing: 1.12vmax;
      text-transform: uppercase;
      line-height: 2.5vmax;
      font-size: 1.87vmax;
      font-family: 'PF Din Display Pro - Extra Thin', sans-serif;
    }

  .footer_contact {
    margin-bottom: 8.85vmax;
    padding: 0 2.34vmax;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

    .footer_contact span {
      font-size: 1.45vmax;
      color: #7e7e7e;
      line-height: 2vmax;
    }

    .footer_contact p {
      line-height: 2.5vmax;
      padding-left: 1vmax;
      letter-spacing: .18vmax;
      text-transform: uppercase;
      font-family: 'PF Din Display Pro - Thin', sans-serif;
      font-size: .93vmax;
      color: #464646;
    }

    .footer_adress {
      
    }

      .footer_adress span {
        
      }

    .footer_container_phone {
      
    }

      .footer_phone {
        margin-bottom: 2vmax;
      }

      .footer_fax {
        
      }

    .footer_mail {
      
    }

    .footer_copyring {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 2.34vmax;
    }
    /*.footer_copyring:after {
      content: '';
      display: block;
      width: 1.25vmax;
      height: 1.25vmax;
      background-image: url(../img/footer_apelsun2.png);
      background-repeat: no-repeat;
      position: absolute;
      top: -.4vmax;
      right: 0vmax;
    }*/

      .footer_copyring p {
        font-size: .83vmax;
        letter-spacing: .04vmax;
        opacity: .44;
        font-family: 'PF Din Display Pro Thin', sans-serif;
        transition: all .2s ease-in-out;
      }

      .footer_copyring p:hover {color: #C4E5EC;}
      footer a img:hover {background-color: orange; transition: all .2s ease-in-out;}

/* // footer styles